* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  text-align: center;
}

header h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 2rem auto;
}

.link {
  color: aquamarine;
  font-size: 16px;
  margin: 1rem auto;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  margin: 2rem auto;
}

#mid p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  margin: 1rem auto;
}
#mark {
  text-align: right;
  color: gray;
  padding: 1rem;
  font-family: Verdana;
  font-size: 21px;
}

footer img {
  margin: 0 auto;
  padding: 1rem;
}
